
</head>
<body>

<div style="margin-top: 120px; text-align: center;">


    <img src="/images/404.jpg" alt="Error 404"><br>
    <span></span><a href="/"><button class="nappula">Go back home</button></a></span>


</div>
</body>
</html>