<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<h1> FoundTrains </h1>
<table class="table">
    <tr>
        <td><%=junaasema%></td>
    </tr>
</table>
<button class="btn onclick="location.href = '/'" type="button" class="btn btn-primary btn-lg btn-block">Palaa etusivulle</button>
</div>

</body>
</html>