
</head>
<body>

<div style="margin-top: 120px; text-align: center;">

    <h2> Something went wrong </h2>
    <img src="/images/error.jpg" alt="Error 500"><br>
    <span></span><a href="/"><button class="nappula" style="border-radius: 5px;">Go back home</button></a></span>


</div>
</body>
</html>